*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --secondaryFont : 'Abril Fatface', serif;
    --thirdFont : 'Open Sans', sans-serif;
    --primaryFont : 'Ubuntu', sans-serif;
   --primarycolor : #0f2f44;
   --yellowcolor: #ffd245;
   --purplecolor: #8484bf;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
.container{
    width: 1170;
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.align_center{
    align-items: center;
}
body{
font-family: var(--thirdFont);
}
/* common css ends */
/* header starts */

header{
    background-color: var(--primarycolor);
    padding: 20px 0;
}


.welcome{
color: white;
width: 30%;
padding-left: 150px;
}

.opening{
    color: white;
    width: 70%;
    text-align: right;
    padding-right: 100px;

}

/* header ends */
/* navbar stars */
nav{
    background-color: #ffffff;
}
.logo{
    width: 30%;
    text-align: center;
    display: inline-block;
}
.menu{
    width: 70%;
    text-align: center;
    
}
.menu li{
    display: inline-block;
}
.menu li a{
    padding: 40px 12px ;
    display: inline-block;
    color: #222222;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    transition: 0.3s;
}
.menu li:hover a{
    color: var(--yellowcolor);
    background-color: #fff9e6;
}
.menu li span{
    width: 40px;
    height: 40px;
    border: 1px solid #dfdfdf;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    display: inline-block;
}
/* navbar ends */
/* main starts */
#banner{
    background-image: url(../image/banner.jpg);
    height: 600px; 
    background-position: center;
    background-size: cover;
    padding: 136px;
}
.banner_cnt{
    width: 40%;
}
.banner_cnt h4{
    font-weight: 300;
    font-size: 50px ;
    color: var(--primarycolor);
}
.banner_cnt h1{
    font-family: var(--secondaryFont);
    font-size: 80px;
    font-weight: 400;
    line-height: 65px;
    color: var(--primarycolor);
}
.banner_cnt h5{
    color: var(--purplecolor);
    font-size: 32px;
    font-weight: 400;
    letter-spacing: 10px;
}
.banner_cnt p{
    font-family: var(--thirdFont);
    font-size: 14px;
    font-weight: 400;
    margin: 33px 0;
    color: #898e96;
}
.banner_cnt a{
    background-color: #8383bf;
    padding: 14px ;
    font-family: var(--primaryFont);
    font-size: 20px;
    font-weight: 500;
    color: white;
    border-radius: 10px;
}
#banner i{
    width: 50px;
    height: 50px;
    border: 1px solid black;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    display: inline-block;
    border-color: white;
}
/* main ends */